/* general styles */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

p {
    word-spacing: 2px; /*adding space between every word.*/
  }

header {
    background-color: #333;
    padding: 10px 0;
    position: relative; /* scroll along with its container*/
    top: 0;
    z-index: 1000; /*z index ensures header stays above other content*/
}

#menu{
    font-size: 110%;
    letter-spacing: 5px;
    list-style-type: none;
}






nav ul {
    list-style: none;
    padding: 1px;
    display: flex;
    justify-content: flex-end;
    margin: 0;
}


nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/*images home page with flexbox code*/
.images-section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}

.images-section img {
    width: 33.33%;
    height: auto;
}

.description-section {
    padding: 20px;
    background-color: #f4f4f4;
    flex: 1; /* Ensures this section takes up remaining space if needed */
}

/*section with the BJJ information on the index page*/
.description-section h2 {
    text-align: center;
    margin-top: 0;
    color: black;
}

h1{
    text-align: center;
}

h2{
    color: #000000;
    background: #f4f4f4;
}

.colourh2{
    color:black;
    background-color: #f4f4f4;
}

.colourh3{
    color:beige;
    background-color: #000000;
}

/*changing only h2 for the home page*/
.join-us h2{
    color: black
}

.benefits-for-kids{
    background-color: #f4f4f4;
    padding-left: 10px;
}

.join-us{
    background-color: #f4f4f4;
    padding-left: 10px;
}

.description-section p {
    line-height: 1.6;
    margin: 10px 0;
}

#reasons{
    background-color: #f4f4f4;
    color: black;
    font-size: x-large;
}

/* exported jpeg from the internet.*/
#signup{
    background-image: url(../images/gallery/onthemats.jpg);
    opacity: 0.90;
    background-size: cover;
    background-position: 75%;
    padding: 200px 10% 0 10%;
    flex-grow: 1;
    display: flex; 
   /* justify-content: center;  to center the input form if desires  */
   /* align-items: center;  to center the input form */

}
/*styling input form*/
.text-input{
    background:darkgray;
    color:#000000;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}

/* map 
#map{
width: 100%;
height: 300;
}

*/

/*editing gallery page */
.gallery {
    display: flex;
    gap: 2px;
    flex-wrap: wrap;
    padding: 10px;
}

.gallery-item {
    flex: 1 1 calc(33.33% - 20px);
    margin: 10px;
    max-width: calc(33.33% - 20px);
    height: auto;
    box-sizing: border-box;
}

.circle-test{
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    /* Makes the square image into a circle */
    border-radius: 50%;
    max-width: 400px;
    max-height: 400px;
}

.square-circle{
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    /* Makes the square image into a circle */
    border-radius: 5%;
    max-width: 400px;
    max-height: 400px;
}









/*changing color of the label for the form input*/
label{
    color: beige;
    font-weight: bold;
    background: #000000;
}

/*underlines menu/signup page*/
.active{
    border-bottom: solid #f4f4f4;
}

/* styling join button */
.join-button{
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: rgb(17, 16, 14);
    color: #f4f4f4;
    margin:15px;
    
}

/*added hover to the join button*/
.join-button:hover{
    background-color: #d68b00;
    color:#454b1b
    
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto; /* keeps the footer sticks to the bottom if the content is short */
}

footer ul {
    list-style: none;
}

/* added social-media icons on the sign up page.*/
#social-media{
    text-align: center;
    padding: 5px 5px 5px 5px;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    font-size: 15px;
}


/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) { 
    .images-section img {
        width: 100%;
    }

    .images-section-2 img{
        width: 39%;
    }
}

@media (min-width: 768px) {
   /* nav ul {
        flex-direction: column;
    } */

    #menu{
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }




    nav ul li {
        margin: 10px 0;
    }

    .images-section img {
        width: 50%;
    }

    .images-section-2 img{
        width: 33%;
    }

    /* pictures of the home page.*/
    .images-section img:nth-child(3) {
        width: 100%;
    }

    .images-section-2 img{
        width: 30%;
    }

    #signup {
        background-position: center; /* Ensures the background stays centered */
        position: relative;
    }

    #signup-form {
        max-width: 400px;
        top: 150px;
        left: 10%;
    }



    .gallery img {
        flex: 1 1 calc(50% - 20px); /* Two images per row on tablets */
        max-width: calc(50% - 20px);

}

@media (max-width: 480px) {
    .images-section img {
        width: 100%;
    }

    .images-section-2 img{
        width: 30%;
    }
}




* {
    box-sizing: inherit;
}
}